<div class="container">
  <img class="center-block" src="http://thecatapi.com/api/images/get?format=src&type=gif">
  <!-- <img class="center-block" src="{{imageUrl}}"> -->
  Chart Data: {{ chartData }}
  Energy: {{ energy }}
  <h2>{{ foodName }}  <small>{{ serving.qty }} {{ serving.label }}</small></h2>

  <!-- <div>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="nutrient in food.nutrients">
        {{ nutrient.name }}: <span class="pull-right">{{ nutrient.value }}{{ nutrient.unit }}</span>
      </li>
    </ul>
  </div> -->
    
    <!-- bootstrap badge style -->
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="nutrient in nutrients">
        {{ nutrient.name }}
        <span class="badge">{{ nutrient.value }} {{ nutrient.unit }}</span>
      </li>
    </ul> 
</div>