<!-- d3 bar chart hopefully -->
<div>
  <d3-bars bar-height="40" bar-padding="5" data="chartData"></d3-bars>
</div>

<h1>So, you're hungry...</h1>


<form name="foodForm" class="form-group" ng-submit="searchFoods()" novalidate>
  <label>What do you want to eat?</label>
  <input type="text" class="form-control form-control-inline" placeholder="Probably bacon" ng-model="searchItem"/>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<hr />

<!-- <p>Search Term: {{ searchItem }}</p> -->
<!-- <p>Possible Foods: {{ possibleFoods }}</p> -->
<!-- <p>Food Report: {{ foodReport }}</p> -->
<h2 ng-if="hasNoResults">No results! Try again...</h2>
<div ng-repeat="food in possibleFoods">
  <h4><a href="#{{ food.ndbno }}">{{ food.name }}</a></h4>
  <p>Group: {{ food.group }}</p>
  <p>Food Id: {{ food.ndbno }}</p>
</div>